label, input[type="text"] {
    display: block;
}

label {
    max-width: 50px;
}

h4 {
    font-weight: bold;
}

#form {
    float: left;
    margin: 10px;
    width: 200px;
}

aside {
    float:right;
}

aside nav ul {
    margin: 10px;
    list-style-type: none;
}

aside nav ul li {
    display: inline-block;
    margin-left: 10px;
}

#resultTable {
    margin: 10px;
    border: 1px solid black;
}

#resultTable th, #resultTable td {
    padding: 5px;
    width: 125px;
    text-align: center;
}

.selected-span {
    font-weight: bold;
    color: green;
}



/*Responsive

@media (max-width: 767px) {
    #resultTable {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    #resultTable {
        width: 100%;
        margin: 10 auto;
    }

    #resultTable tr th:nth-last-of-type(1), #resultTable tr th:nth-last-of-type(2),
    #resultTable tr th:nth-last-of-type(3), 
    #resultTable tr td:nth-last-of-type(1), #resultTable tr td:nth-last-of-type(2),
    #resultTable tr td:nth-last-of-type(3) {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 535px) {
    #resultTable {
        width: 100%;
        margin: 10 auto;
    }
    #form {
        width: 100%;
    }

    #form input[type=text] {
        width: 100%;
    }

    #form label {
        margin: 0 auto;
    }

    #resultTable tr th:nth-last-of-type(1), #resultTable tr th:nth-last-of-type(2),
    #resultTable tr th:nth-last-of-type(3), 
    #resultTable tr td:nth-last-of-type(1), #resultTable tr td:nth-last-of-type(2),
    #resultTable tr td:nth-last-of-type(3) {
        display: none;
    }
}*/
