label, input[type="text"] {
    display: block;
}

h4 {
    font-weight: bold;
}

#form {
    float: left;
    margin: 10px;
}

#resultTable {
    margin: 10px;
    float: right;
    border: 1px solid black;
}

#resultTable th {
    padding: 5px;
    width: 125px;
    text-align: center;
}